/**
  * This is the global styles file for the app and shadcn.
  * It should contain all the global styles that are not specific to a component.
  * This includes things like global resets, typography, and color variables.
  */
/* Move :root and .dark out of @layer base */
/* Move :root and .dark out of @layer base */

:root {
  --gradient-primary-hover: linear-gradient(180deg, hsl(239 84% 80%), hsl(var(--indigo)));

  --background: hsl(0 0% 100%);
  --background-muted: hsl(210 50% 98.4%);

  --foreground: hsl(222.2 84% 4.9%);

  --card: hsl(0 0% 100%);
  --card-foreground: hsl(223 84% 4.9%);

  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(223 84% 4.9%);

  --primary: hsl(222.2 20.4% 12.2%);
  --primary-foreground: hsl(210 40% 98%);

  --secondary: hsl(222.2 47.4% 11.2%);
  --secondary-foreground: hsl(210 40% 98%);

  --info: hsl(210 40% 96.1%);
  --info-foreground: hsl(222.2 47.4% 11.2%);

  --muted: hsl(210 40% 96.1%);
  --muted-foreground: hsl(215.4 16.3% 46.9%);

  --accent: hsl(210 40% 96.1%);
  --accent-light: hsl(210 40% 98.4%);
  --accent-foreground: hsl(222.2 47.4% 11.2%);

  --indigo: hsl(239 84% 67%);
  --indigo-foreground: hsl(0 0% 100%);

  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(210 40% 98%);

  --border: hsl(214 30.4% 91%);
  --input: hsl(214.3 31.8% 91.4%);
  --ring: hsl(222.2 84% 4.9%);

  --radius: 0.5rem;

  --ring-offset-color: var(--background);
}

.dark {
  --background: hsl(220 10% 11.8%);
  --background-muted: hsl(220 10% 18.4%);
  --foreground: hsl(210 0% 80%);

  --card: hsl(220 8.3% 12.1%);
  --card-foreground: hsl(210 0% 80%);

  --popover: hsl(220 8.3% 12.1%);
  --popover-foreground: hsl(286 22% 99%);

  --primary: hsl(210 0% 80%);
  --primary-foreground: hsl(222.2 47.4% 11.2%);

  --secondary: hsl(217.2 32.6% 17.5%);
  --secondary-foreground: hsl(210 0% 80%);

  --info: hsl(220 5.8% 24.4%);
  --info-foreground: hsl(210 0% 60%);

  --muted: hsl(220 5.8% 20.4%);
  --muted-foreground: hsl(210 0% 60%);

  --accent: hsl(220 5.8% 14%);
  --accent-light: hsl(220 5.8% 12%);
  --accent-foreground: hsl(210 0% 80%);

  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(210 40% 98%);

  --border: hsl(220 5.8% 20.4%);
  --input: hsl(220 5.8% 20.4%);
  --ring: hsl(212.7 26.8% 83.9%);

  --ring-offset-color: var(--background);
}

/* Move :root and .dark out of @layer base */
:root {
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
}

.dark {
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);
}

:root {
  --error-25: hsl(12 100% 99%);
  --error-50: hsl(5 86% 97%);
  --error-100: hsl(4 93% 94%);
  --error-200: hsl(3 96% 89%);
  --error-300: hsl(4 96% 80%);
  --error-400: hsl(4 92% 69%);
  --error-500: hsl(4 86% 58%);
  --error-600: hsl(4 74% 49%);
  --error-700: hsl(4 76% 40%);
  --error-800: hsl(4 72% 33%);
  --error-900: hsl(8 65% 29%);
  --error-950: hsl(8 75% 19%);

  --warning-25: hsl(42 100% 98%);
  --warning-50: hsl(45 100% 96%);
  --warning-100: hsl(45 96% 89%);
  --warning-200: hsl(44 98% 77%);
  --warning-300: hsl(27 89% 72%);
  --warning-400: hsl(39 98% 56%);
  --warning-500: hsl(34 94% 50%);
  --warning-600: hsl(28 97% 44%);
  --warning-700: hsl(22 92% 37%);
  --warning-800: hsl(19 84% 31%);
  --warning-900: hsl(18 79% 27%);
  --warning-950: hsl(17 79% 17%);

  --success-25: hsl(142 80% 98%);
  --success-50: hsl(145 81% 96%);
  --success-100: hsl(140 75% 92%);
  --success-200: hsl(144 68% 80%);
  --success-300: hsl(148 63% 67%);
  --success-400: hsl(150 57% 54%);
  --success-500: hsl(152 77% 39%);
  --success-600: hsl(153 91% 30%);
  --success-700: hsl(155 90% 24%);
  --success-800: hsl(155 84% 20%);
  --success-900: hsl(156 83% 16%);
  --success-950: hsl(157 82% 11%);

  --indigo-50: hsl(226 100% 97%);
  --indigo-100: hsl(226 100% 94%);
  --indigo-200: hsl(228 96% 89%);
  --indigo-300: hsl(230 94% 82%);
  --indigo-400: hsl(234 89% 74%);
  --indigo-500: hsl(239 84% 67%);
  --indigo-600: hsl(243 75% 59%);
  --indigo-700: hsl(245 58% 51%);
  --indigo-800: hsl(244 55% 41%);
  --indigo-900: hsl(242 47% 34%);
  --indigo-950: hsl(244 47% 20%);
}

:root {
  --error: var(--error-50);
  --error-border: var(--error-200);
  --error-foreground: var(--error-700);
  --error-secondary: var(--error-300);

  --success: var(--success-50);
  --success-border: var(--success-200);
  --success-foreground: var(--success-700);
  --success-secondary: var(--success-300);

  --warning: var(--warning-50);
  --warning-border: var(--warning-200);
  --warning-foreground: var(--warning-700);
  --warning-secondary: var(--warning-300);

  --indigo-bg: var(--indigo-50);
  --indigo-border: var(--indigo-200);
  --indigo-foreground: var(--indigo-700);
  --indigo-secondary: var(--indigo-300);
}

.dark {
  --error: var(--error-950);
  --error-border: var(--error-800);
  --error-foreground: var(--error-300);
  --error-secondary: var(--error-700);

  --success: var(--success-950);
  --success-border: var(--success-800);
  --success-foreground: var(--success-300);
  --success-secondary: var(--success-700);

  --warning: var(--warning-950);
  --warning-border: var(--warning-800);
  --warning-foreground: var(--warning-300);
  --warning-secondary: var(--warning-700);

  --indigo-bg: var(--indigo-900);
  --indigo-border: var(--indigo-800);
  --indigo-foreground: var(--indigo-300);
  --indigo-secondary: var(--indigo-700);
}
