@import "tailwindcss";
@import "./colors.css";

@theme inline {
  --color-border-main: var(--border);
  --color-border: var(--border);

  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-foreground: var(--foreground);

  --color-primary-main: var(--primary);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary-main: var(--secondary);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-success-25: var(--success-25);
  --color-success-50: var(--success-50);
  --color-success-100: var(--success-100);
  --color-success-200: var(--success-200);
  --color-success-300: var(--success-300);
  --color-success-400: var(--success-400);
  --color-success-500: var(--success-500);
  --color-success-600: var(--success-600);
  --color-success-700: var(--success-700);
  --color-success-800: var(--success-800);
  --color-success-900: var(--success-900);
  --color-success-950: var(--success-950);
  --color-success-main: var(--success);
  --color-success: var(--success);

  --color-success-foreground: var(--success-foreground);
  --color-success-foreground-main: var(--success-foreground);

  --color-success-border: var(--success-border);
  --color-success-border-main: var(--success-border);

  --color-success-secondary: var(--success-secondary);
  --color-success-secondary-main: var(--success-secondary);

  --color-warning-25: var(--warning-25);
  --color-warning-50: var(--warning-50);
  --color-warning-100: var(--warning-100);
  --color-warning-200: var(--warning-200);
  --color-warning-300: var(--warning-300);
  --color-warning-400: var(--warning-400);
  --color-warning-500: var(--warning-500);
  --color-warning-600: var(--warning-600);
  --color-warning-700: var(--warning-700);
  --color-warning-800: var(--warning-800);
  --color-warning-900: var(--warning-900);
  --color-warning-950: var(--warning-950);
  --color-warning-main: var(--warning);
  --color-warning: var(--warning);

  --color-warning-foreground: var(--warning-foreground);
  --color-warning-foreground-main: var(--warning-foreground);

  --color-warning-border: var(--warning-border);
  --color-warning-border-main: var(--warning-border);

  --color-warning-secondary: var(--warning-secondary);
  --color-warning-secondary-main: var(--warning-secondary);

  --color-destructive-main: var(--destructive);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-error-25: var(--error-25);
  --color-error-50: var(--error-50);
  --color-error-100: var(--error-100);
  --color-error-200: var(--error-200);
  --color-error-300: var(--error-300);
  --color-error-400: var(--error-400);
  --color-error-500: var(--error-500);
  --color-error-600: var(--error-600);
  --color-error-700: var(--error-700);
  --color-error-800: var(--error-800);
  --color-error-900: var(--error-900);
  --color-error-950: var(--error-950);
  --color-error-main: var(--error);
  --color-error: var(--error);

  --color-error-foreground: var(--error-foreground);
  --color-error-foreground-main: var(--error-foreground);

  --color-error-border: var(--error-border);
  --color-error-border-main: var(--error-border);

  --color-error-secondary: var(--error-secondary);
  --color-error-secondary-main: var(--error-secondary);

  --color-gray-main: var(--info);
  --color-gray: var(--info);
  --color-gray-foreground: var(--info-foreground);

  --color-muted-main: var(--muted);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-indigo-main: var(--indigo);
  --color-indigo: var(--indigo);

  --color-indigo-border: var(--indigo-border);
  --color-indigo-border-main: var(--indigo-border);

  --color-indigo-secondary: var(--indigo-secondary);
  --color-indigo-secondary-main: var(--indigo-secondary);

  --color-indigo-foreground: var(--indigo-foreground);
  --color-indigo-bg: var(--indigo-bg);

  --color-background-main: var(--background);
  --color-background: var(--background);
  --color-background-foreground: var(--background-foreground);
  --color-background-muted: var(--background-muted);
  --color-background-muted-main: var(--background-muted);

  --color-accent-main: var(--accent);
  --color-accent-light: var(--accent-light);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-sync: var(--accent);
  --color-sync-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-chart-1: var(--indigo-500);
  --color-chart-2: var(--indigo-400);
  --color-chart-3: var(--indigo-300);
  --color-chart-4: var(--indigo-200);

  --stroke-width: 1;

  --font-brand: var(--font-circular), sans-serif;

  --text-xl: 1.25rem;
  --text-xl--line-height: 2rem;
  --text-xxs: 0.625rem;
  --text-xxs--line-height: 1rem;

  --background-image-gradient-primary-hover: var(--gradient-primary-hover);

  --ring-offset-color: var(--ring-offset-color);
  --transition-property-size: height, width, scale, zoom, position, padding, margin;

  --radius-2xl: calc(var(--radius) + 8px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  --animate-accordion-up: accordion-up 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  --animate-collapsible-down: collapsible-down 0.1s ease-out;
  --animate-collapsible-up: collapsible-up 0.1s ease-out;
  --animate-spin-slow: spin 1.5s linear infinite;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;
}

@theme inline {
  @keyframes accordion-down {
    from {
      height: 0;
      scale: 0.95;
      opacity: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
      scale: 1;
      opacity: 1;
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
      scale: 1;
      opacity: 1;
    }
    to {
      height: 0;
      scale: 0.95;
      opacity: 0;
    }
  }
  @keyframes collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }
  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-background-muted: var(--background-muted);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);
  --color-accent-foreground: var(--accent-foreground);
  --color-indigo: var(--indigo);
  --color-indigo-foreground: var(--indigo-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

@theme inline {
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}
